{{page-title "Add"}}

<div class="right">
    <LinkTo @route="categories">cancel</LinkTo>
</div>

<h2>Add New Category</h2>

<dl>
    <dt>Name:</dt>
    <dd>{{input value=name}}</dd>
</dl>

<br>

<div>
    <button type="button" {{action 'createCategory'}}>create category</button>
</div>

{{outlet}}