{{page-title "ScratchPad"}}
{{!-- <script src="https://localhost:5001/assets/tinymce/tinymce.min.js"></script> --}}
<header>
    <nav>
        <LinkTo @route="index">Home</LinkTo>
        <span>|</span>
        <LinkTo @route="entries.add">Add Entry</LinkTo>
        <span>|</span>
        <LinkTo @route="categories">Categories</LinkTo>
        <span>|</span>
        <LinkTo @route="tinymce-demo">TinyMCE Demo</LinkTo>
    </nav>
    <hr />
</header>
<main>
{{outlet}}
</main>