{{page-title "Index"}}

    <h2>Entries</h2>

    <ul id="home-entries">
        {{#each model.entries as |entry|}}
            <li>
                <span>
                    <LinkTo @route="entries.details" @model={{entry.id}}>
                        {{entry.name}}
                    </LinkTo>
                </span>
            </li>
        {{/each}}
    </ul>

    <br>

    <div>
        <LinkTo @route="entries.add">add new entry</LinkTo>
    </div>

{{outlet}}