body {
    margin: 0;

    header {
        nav {
            display: block;
            margin: 10px;
        }
    }

    main {
        margin: 10px;
    }

    hr {
        border: 0;
        border-top: 1px #888888 solid;
        height: 3px;
    }
}